extends layout

block content
  div
    //-
      h2 שימוש ב-SMS
      p כדי לפרסם נסיעה באתר לא צריך אפילו להכנס אליו, מספיק לשלוח SMS למספר 054-973-2384. ההודעה צריכה להתחיל במילה רכב ונקודותיים, וכל מה שלאחר מכן יתפרסם באתר. למשל: "רכב:מחר בשעה שלוש אני נוסעת מתל-אביב לרביד, 2 מקומות פנויים". המערכת אפילו תחפש את המספר שלכם בגשש-בלש ותציג את השם שלכם.
    h2 אודות
    p מרבד הקסמים הוא אתר שעוזר להפגיש בין מי שיש לו לבין מי שצריך, לפחות במה שקשור בנסיעות. האתר איננו ולעולם לא יהיה תחליף לסידור רכב, שכן הוא מתעלם משיקולים חברתיים ואין בו שום שיקולי צרכים, וזו גם הסיבה שהוא משאיר את הצעד הסופי - הסיכום על הצטרפות לנסיעה - בשיחה בין האנשים. השימוש באתר הוא כמובן וולנטרי לחלוטין: ואין חובה לפרסם בו, ואין הבטחה שאם מצאתם נסיעה באמת תוכלו להצטרף אליה.
    p המערכת מאפשרת לאנשים להודיע על נסיעה שהם מתכננים לעשות, ואנשים אחרים יכולים ליצור קשר כדי להצטרף לנסיעה. ביחד אנחנו יכולים לחסוך כסף, להגיע בקלות יותר ממקום למקום, לעזור אחד לשני וכמובן לזכות במצוות.
    p
      האתר נקרא על שם מבצע העלאת יהודי תימן לישראל, ומתבסס על עקרון "שלח לחמך על פני המים; כי ברוב הימים תמצאנו" (קהלת י"א). מומלץ גם לשמוע את
      a(href="http://www.youtube.com/watch?v=hIAgseu7jPQ") השיר הנהדר של אפרים ואסתר שמיר
      .
    img(src="/images/yemen.jpg", style="padding: 5px; border: 1px solid #000; max-width: 100%;")
    p
      המערכת כתובה בקוד פתוחה והיא
      a(href="https://github.com/bjesus/marvad") תוכנה חופשית
      .