!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en', dir='rtl')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title מרבד הקסמים
    link(rel="icon",href="/favicon.png")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon", href="/marvad.png")
    link(rel="apple-touch-icon-precomposed", href="/marvad.png")
    meta(name="description", content="מערכת מגניבה")
    meta(http-equiv="Refresh", content='120; URL=/')
    meta(name="author", content="Yo'av Moshe")
    meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    style
      body { font-family: sans-serif; }
  body
    h1
      a(href="/", class=(menu === '' ? 'ui-btn-active' : '')) מרבד הקסמים
    block navbar
      div(id='navbar')
        ul
          li
            a(href="/submit", class=(menu === 'submit' ? 'ui-btn-active' : '')) פרסום נסיעה
          li
            קראתם כבר את דף
            a(href="/about", class=(menu === 'about' ? 'ui-btn-active' : ''))ההסברים
            ?
  div(id='content')
    block content
  div(id='footer')
    footer
      block footer
        a(href="/about", class=(menu === 'about' ? 'ui-btn-active' : '')) אודות מרבד הקסמים
        br
        a(href="http://games.noal.co.il", class=(menu === 'games' ? 'ui-btn-active' : '')) גשש משחקים
        |  | 
        a(href="http://144.noal.co.il", class=(menu === 'balash' ? 'ui-btn-active' : '')) גשש בלש
        |  | 
        a(href="http://2800.noal.org.il", class=(menu === 'bus' ? 'ui-btn-active' : '')) גששובוס
        br
        a(href="/logout", class=(menu === 'logout' ? 'ui-btn-active' : '')) ניתוק
      script
        var _gaq=[['_setAccount','UA-6887067-8'],['_trackPageview'],['_trackPageLoadTime']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      //if lt IE 7
        script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
        script(defer)
          window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})